@import "./variables.scss";

.Header {
	width: 100%;
	display: flex;
	padding: 11px 0;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	color: whitesmoke;
	background: $slack-color;
	.HeaderLeft {
		flex: 0.3;
		display: flex;
		align-items: center;
		margin-left: 20px;
		& > .MuiSvgIcon-root {
			margin-left: auto;
			margin-right: 30px;
		}
		.HeaderAvatar {
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.HeaderSearch {
		display: flex;
		align-items: center;
		background: #421f44;
		padding: 0 50px;
		border: 1px gray solid;
		flex: 0.4;
		opacity: 1;
		border-radius: 6px;
		color: gray;
		input {
			background: transparent;
			border: none;
			text-align: center;
			outline: 0;
			min-width: 30vw;
			color: whitesmoke;
		}
	}
	.HeaderRight {
		flex: 0.3;
		display: flex;
		align-items: flex-end;
		& > .MuiSvgIcon-root {
			margin-left: auto;
			margin-right: 20px;
		}
	}
}
