.Message {
	display: flex;
	align-items: center;
	padding: 20px;
	img {
		height: 50px;
		width: 50px;
		object-fit: cover;
		border-radius: 8px;
	}
	.MessageInfo {
		padding-left: 10px;
		h4 {
			span {
				color: gray;
				font-weight: 300;
				margin-left: 4px;
				font-size: 10px;
			}
		}
	}
}
