@import "./variables.scss";

.Sidebar {
	background: $slack-color;
	color: whitesmoke;
	flex: 0.3;
	border-top: 1px solid $border-color;
	max-width: 260px;
	margin-top: 60px;
	hr {
		margin-top: 10px;
		margin-bottom: 10px;
		border: 1px solid $border-color;
	}
	.SidebarHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $border-color;
		padding: 13px;
		& > .MuiSvgIcon-root {
			padding: 8px;
			color: $border-color;
			font-size: 18px;
			background: white;
			border-radius: 999px;
		}
		.SidebarHeaderInfo {
			flex: 1;
			h2 {
				font-size: 15px;
				font-weight: 900;
				margin-bottom: 5px;
			}
			h3 {
				display: flex;
				font-size: 13px;
				font-weight: 400;
				align-items: center;
				& > .MuiSvgIcon-root {
					color: green;
					font-size: 14px;
					margin-top: 1px;
					margin-right: 2px;
				}
			}
		}
	}
}
